In [2]:
# Imports 
import pandas as pd
import os
import seaborn as sns

In [3]:
# Read the data
data_url = ("https://raw.githubusercontent.com/tamu-engineering-research/COVID-EMDA/master/data_release/ercot/ercot_houston_load.csv")

df = pd.read_csv(data_url)

df.head()

,date,00:00,01:00,02:00,03:00,04:00,05:00,06:00,07:00,08:00,...,14:00,15:00,16:00,17:00,18:00,19:00,20:00,21:00,22:00,23:00
0,2017-01-01,8791.8,8569.7,8326.4,8137.5,8011.9,7978.1,8057.1,8125.8,8289.2,...,9957.6,9987.9,9943.9,10181.0,10583.5,10451.0,10230.6,10014.8,9667.7,9287.7
1,2017-01-02,8836.8,8588.2,8480.8,8506.0,8644.7,8887.0,9176.5,9323.8,9559.9,...,10937.1,11037.0,10931.5,10859.0,11112.1,10893.9,10594.2,10196.7,9568.1,8935.5
2,2017-01-03,8516.6,8238.2,8102.8,8094.3,8265.7,8816.3,9615.5,10009.8,10102.3,...,11022.6,10988.9,10883.8,10882.0,11092.8,10889.1,10577.2,10100.1,9488.8,8916.9
3,2017-01-04,8462.0,8316.5,8259.6,8336.3,8636.6,9357.1,10504.8,10955.0,10944.0,...,10713.0,10602.9,10638.3,11099.4,11605.9,11578.6,11416.8,11010.9,10392.6,9784.5
4,2017-01-05,9472.0,9198.3,9051.1,9031.1,9237.9,9836.5,10685.2,10931.8,10841.5,...,10692.5,10696.2,10791.9,11130.9,11378.8,11311.2,11194.9,10882.2,10416.8,9959.7

In [4]:
# Examine data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1793 entries, 0 to 1792
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1793 non-null   object
 1   00:00   1793 non-null   float64
 2   01:00   1793 non-null   float64
 3   02:00   1793 non-null   float64
 4   03:00   1793 non-null   float64
 5   04:00   1793 non-null   float64
 6   05:00   1793 non-null   float64
 7   06:00   1793 non-null   float64
 8   07:00   1793 non-null   float64
 9   08:00   1793 non-null   float64
 10  09:00   1793 non-null   float64
 11  10:00   1793 non-null   float64
 12  11:00   1793 non-null   float64
 13  12:00   1793 non-null   float64
 14  13:00   1793 non-null   float64
 15  14:00   1793 non-null   float64
 16  15:00   1793 non-null   float64
 17  16:00   1793 non-null   float64
 18  17:00   1793 non-null   float64
 19  18:00   1793 non-null   float64
 20  19:00   1793 non-null   float64
 21  20:00   1793 non-null   float64
 22  21:00   1793 non-null   float64
 23  22:00   1793 non-null   float64
 24  23:00   1793 non-null   float64
dtypes: float64(24), object(1)
memory usage: 350.3+ KB

In [19]:
# Combine date and hour columns into a single column
melted_df = pd.melt(df, id_vars=['date'], var_name='Hour', value_name='Energy_Consumption')
melted_df['time'] = melted_df['date'] + ' ' + melted_df['Hour']
melted_df['time'] = pd.to_datetime(melted_df['time'])
melted_df.drop(['date', 'Hour'], axis=1, inplace=True)
melted_df.sort_values('time', inplace=True)
melted_df.reset_index(drop=True, inplace=True)
melted_df = melted_df[['time', 'Energy_Consumption']]

melted_df.head()

                 time  Energy_Consumption
0 2017-01-01 00:00:00              8791.8
1 2017-01-01 01:00:00              8569.7
2 2017-01-01 02:00:00              8326.4
3 2017-01-01 03:00:00              8137.5
4 2017-01-01 04:00:00              8011.9